.mochimarket-logo {
  width: 200px;
  padding: 30px;
  background: #17153a;
  background-color: #1b47e20f;
  border-style: solid;
  border-width: 1px;
  border-color: #e4609e;
  border-radius: 12px;
  margin-bottom: 100px;
}
